$gray33: #333;
$gray77: #777;
$whitebd: #bdbdbd;
$blue: #005bac;

.heading-type1 {
  @include text($gray33, rem(20), 700, null, -1px);
  // text($color, $fontSize, $fontWeight, $lineHeight, $letterSpacing)
}
.text-type1 {
  @include text($blue, rem(16), null, rem(24), null);
  // fontsize 400, fontweight normal은 기본, null로 작성
}
.text-type2 {
  @include text($gray77, rem(14), null, rem(22), rem(-0.5));
}
.image-type1 {
  img {
    width: 100%;
  }
}
.btn-type1 {
  @include text($gray33, rem(14), 700, rem(20), rem(-0.5));
  @include background("ico_btn1.svg", right rem(12) center);
  display: flex;
  align-items: center;
  border: rem(1) solid $whitebd;
  height: rem(48);
  padding: rem(12);
}
